profiles {

    singularity {
        singularity.enabled = true
        runOptions = '-B /path/to/'
        process {
            executor = 'slurm'
            withLabel: pycytoandr {
                container = '/path/to/nextflow_docs/Singularity/ashdederich_cellpainting.sif'
                cpus = 28
                memory = 25.GB
                queue = '256GBv1'
            }

            withLabel: cellprof {
                container = '/path/to/nextflow_docs/Singularity/cellprofiler_4.2.1--py38hec16e2b_2.sif'
                cpus = 28
                memory = 50.GB
                queue = '256GBv1'
            }

            withLabel: coreutils {
                container = '/path/to/nextflow_docs/Singularity/coreutils_8.31--h14c3975_0.sif'
                cpus = 14
                memory = 20.GB
                queue = '256GBv1'
            }

            withLabel: tabix {
                container = '/path/to/nextflow_docs/Singularity/tabix_1.11--hdfd78af_0.sif'
                cpus = 14
                memory = 20.GB
                queue = '256GBv1'
            }

            withLabel: profiling {
                container = '/path/to/nextflow_docs/Singularity/profiling_latest.sif'
                cpus = 14
                memory = 20.GB
                queue = '256GBv1'
            }

            withLabel: replicating {
                container = '/path/to/nextflow_docs/Singularity/replicating_latest.sif'
                cpus = 14
                memory = 20.GB
                queue = '256GBv1'
            }
        }
    }

    conda {
        process {
            withLabel: pycytoprogram {
                conda = '/path/to/.conda/envs/profiling'
                cpus = 14
                memory = 50.GB
                queue = '256GB'
            }
            
            withLabel: r {
                conda = '/path/to/.conda/envs/rpackages'
                cpus = 14
                memory = 25.GB
                queue = '256GBv1'
            }

            withLabel: replicating {
                conda = '/path/to/.conda/envs/replicating'
                cpus = 14
                memory = 25.GB
                queue = '256GB'
            }
        }
        process.executor = 'slurm'
    }
}