process {
    withLabel: low_cpu_high_mem {
        cpus = x
        memory = x.GB
    }

    withLabel: 

    withLabel: high_cpu_mem {
        cpus = x
        memory = x.GB
    }

    withLabel: pycyto_and_r {
        container = '/path/to/Singularity/containers/cp-data-analysis.sif'
        #I built this container to run R, Python, and PyCytominer.
        #You can download this container at: 
    }

    withLabel: cellprof {
        container = '/path/to/Singularity/containers/cellprofiler_latest.sif'
        #The Broad lab has created a CellProfiler docker container. This is what I downloaded and will be using here.
    }
}
singularity {
    enabled = true
    runOptions = '-B /path/to/parent/directory/of/Singularity/nextflow/and/config/files/'
}